{% import "AppBundle::macros.html.twig" as macros %}
<span class="card-props">
{% if card.type_code == 'character' or card.type_code == 'attachment' or card.type_code == 'event' or card.type_code == 'location' %}
	{{'card.info.cost' | trans}}: {{ macros.integer_or_x(card.cost) }}.
{% endif %}
{% if card.type_code == 'character' %}
	{{'card.info.str' | trans}}: {{ macros.integer_or_x(card.strength) }}.
	{% if card.is_military %}<span class="color-military icon-military" title="{{'icon.military' | trans}}"></span>{% endif %}
	{% if card.is_intrigue %}<span class="color-intrigue icon-intrigue" title="{{'icon.intigue' | trans}}"></span>{% endif %}
	{% if card.is_power %}<span class="color-power icon-power" title="{{'icon.power' | trans}}"></span>{% endif %}
{% endif %}
{% if card.type_code == 'plot' %}
	{{'card.info.income' | trans}}: {{ macros.integer_or_x(card.income) }}.
	{{'card.info.initiative' | trans}}: {{ macros.integer_or_x(card.initiative) }}.
	{{'card.info.claim' | trans}}: {{ macros.integer_or_x(card.claim) }}.
	{{'card.info.reserve' | trans}}: {{ macros.integer_or_x(card.reserve) }}.
	{{'card.info.plotlimit' | trans}}: {{ macros.integer_or_x(card.deck_limit) }}.
{% endif %}
</span>
