<br/>
<div class="card-set"><span class="icon-set-{{card.set_code}}"></span> {{ card.set_name }} #{{ card.position }}.</div>
{% if card.reprint_of is defined %}
	{% set reprint=cards_data.get_card_by_code(card.reprint_of) %}
	<div class="card-reprint-of">{{ 'card.info.reprintOf' | trans({'%card%': '<a href="'~path('cards_zoom',{card_code:card.reprint_of})~'"><span class="icon-set-'~reprint.set_code~'"></span> '~reprint.set_name~' #'~reprint.position~'</a>'}) | raw }}.</div>
{% endif %}
{% if card.reprints is defined %}
	<div class="card-reprints">
		{{"card.info.reprinted" | trans }}:
		<ul class="card-reprints-list">
			{% for code in card.reprints %}
			{% set reprint=cards_data.get_card_by_code(code) %}
			<li><a href="{{path('cards_zoom',{card_code:code})}}"><span class="icon-set-{{reprint.set_code}}"></span> {{reprint.set_name}} #{{reprint.position}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
{% if card.parallel_die is defined %}
	{% set parallelDie=cards_data.get_card_by_code(card.parallel_die) %}
	<div class="card-parallel-die">{{ 'card.info.parallelDie' | trans({'%card%': '<a href="'~path('cards_zoom',{card_code:card.parallel_die})~'">'~parallelDie.name~' <span class="icon-set-'~parallelDie.set_code~'"></span> #'~parallelDie.position~'</a>'}) | raw }}.</div>
{% endif %}
{% if card.parallel_dice_of is defined %}
	<div class="card-parallel-dice-of">
		{{"card.info.parallelDiceOf" | trans }}:
		<ul class="card-parallel-dice-of-list">
			{% for code in card.parallel_dice_of %}
			{% set parallelDie=cards_data.get_card_by_code(code) %}
			<li><a href="{{path('cards_zoom',{card_code:code})}}">{{parallelDie.name}} <span class="icon-set-{{parallelDie.set_code}}"></span> #{{parallelDie.position}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
<br/>