{% import "AppBundle::macros.html.twig" as macros %}
<span class="card-props">
{% if card.type_code == 'character' or card.type_code == 'plot' %}
	{{'card.info.points' | trans}}: {{ card.points }}.
{% endif %}
{% if card.type_code == 'upgrade' or card.type_code == 'event' or card.type_code == 'support' or card.type_code == 'downgrade' %}
	{{'card.info.cost' | trans}}: {{ macros.integer_or_x(card.cost) }}.
{% endif %}
{% if card.type_code == 'character' %}
	{{'card.info.health' | trans}}: {{ macros.integer_or_x(card.health) }}.
{% endif %}
</span>
