{% extends 'AppBundle:Search:display.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>{{ 'card.info.name' | trans }}</th>
<th>{{ 'card.info.affiliation' | trans }}</th>
<th>{{ 'card.info.faction' | trans }}</th>
<th title="{{'card.info.points_cost' | trans}}">{{ 'card.info.medium.points_cost' | trans }}</th>
<th>{{ 'card.info.health' | trans }}</th>
<th>{{ 'card.info.type' | trans }}</th>
<th>{{ 'card.info.rarity' | trans }}</th>
<th colspan="6">{{ 'card.info.die' | trans}}</th>
<th>{{ 'card.info.set' | trans }}</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
   {% set card = cards[i] %}
	<td data-th="Name">
        <span class="icon icon-{{card.type_code}} fg-{{ card.faction_code }}"></span>
		<a href="{{ card.url }}" class="card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">
			{{ card.name }}
			{% if card.subtitle %}<span class="card-subtitle">- {{card.subtitle}}</span>{% endif %}
		</a>
	</td>
	<td data-th="Affiliation">{{ card.affiliation_name }}</td>
	<td data-th="Faction">{{ card.faction_name }}</td>
	<td data-th="Points/Cost" class="text-nowrap">{{ card.type_code=='character' ? card.points : card.cost }}</td>
	<td data-th="Health">{{ card.health }}</td>
	<td data-th="Type" >{{ card.type_name }}</td>
	<td data-th="Rarity">{{ card.rarity_name }}</td>
	{% if card.has_die %}
	{% for side in card.sides %}
	<td class="text-center die-face text-nowrap" data-th="Die">
		{% if side.modifier %}+{% endif %}{% if not side.type or side.type.code not in ['-', 'Sp'] %}{{ macros.integer_or_x(side.value) }}{% endif %}{% if side.type %}<span class="icon icon-{{side.type.icon}}"></span>{% endif %}{% if side.cost %}/{{side.cost}}{% endif %}
	</td>
	{% endfor %}
	{% else %}
	<td colspan="6" data-th="Die">&nbsp;</td>
	{% endif %}
	<td data-th="Set" class="text-nowrap">
		<span class="icon-set-{{card.set_code}}"></span>
		<span class="hidden-xs">{{ card.set_name }}</span>
		{{ card.position }}
	</td>
</tr>
{% endfor %}
</table>

{% endblock %}
