<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}"
	role="form">
	<div class="row" style="margin-bottom:1em">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="">{{ 'decklist.list.search.affiliation.label' | trans }}</label> <select class="form-control" id="affiliation" name="affiliation">
					<option value="">{{ 'decklist.list.search.affiliation.any' | trans}}</option>
					{% for affiliation in affiliations %}
					<option value="{{ affiliation.code }}"{% if affiliation_selected is defined  and affiliation_selected == affiliation.code %} selected="selected"{% endif %}>{{ affiliation.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="">{{ 'decklist.list.search.format.label' | trans }}</label> <select class="form-control" id="format" name="format">
					<option value="">{{ 'decklist.list.search.format.any' | trans}}</option>
					{% for format in formats %}
					<option value="{{ format.code }}"{% if format_selected is defined  and format_selected == format.code %} selected="selected"{% endif %}>{{ format.name }}</option>
					{% endfor %}
				</select>
			</div>
            <div class="form-group">
				<label for="">{{ 'decklist.list.search.used.label' | trans }}</label>
				{{ cards|default('')|raw }}
				<input type="text" class="form-control" id="card" placeholder="{{ 'decklist.list.search.used.hint' | trans }}">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="">{{ 'decklist.list.search.author.label' | trans }}</label> <input type="text"
					class="form-control" id="author" name="author"
					placeholder="{{ 'decklist.list.search.author.hint' | trans }}" value="{{ author }}">
			</div>
			<div class="form-group">
				<label for="">{{ 'decklist.list.search.decklist.label' | trans }}</label> <input type="text"
					class="form-control" id="name" name="name" value="{{ name }}"
					placeholder="{{ 'decklist.list.search.decklist.hint' | trans }}">
			</div>
			<div class="form-group">
				<label for="">{{ 'decklist.list.search.sort.label' | trans }}</label> <select class="form-control" id="sort"
					name="sort">
					<option value="popularity"{{ sort_popularity|default('') }}>{{ 'decklist.list.search.sort.popularity' | trans }}</option>
					<option value="date"{{ sort_date|default('') }}>{{ 'decklist.list.search.sort.date' | trans }}</option>
					<option value="likes"{{ sort_likes|default('') }}>{{ 'decklist.list.search.sort.likes' | trans }}</option>
					<option value="reputation"{{ sort_reputation|default('') }}>{{ 'decklist.list.search.sort.reputation' | trans }}</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary btn-block">{{ 'forms.search' | trans }}</button>
		</div>
	</div>
</form>
