{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="main white container">

<div class="row">

<div class="col-md-3">
	<h2>{{ 'search.setbrowse' | trans }}</h2>
	<ol>
	{% for cycle in cards_data.allsetsdatathreaded() %}
		<li><a href="{{ cycle['url'] }}">{{ cycle['label'] }}</a></li>
		{% if cycle['packs'] is defined %}
		<ol>
		{% for pack in cycle['packs'] %}
		<li><a href="{{ pack['url'] }}">{{ pack['label'] }}</a></li>
		{% endfor %}
		</ol>
		{% endif %}
	{% endfor %}
	</ol>
</div>

<div class="col-md-9">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>{{ 'search.nametexts' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">{{ 'card.info.name' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">{{ 'card.info.text' | trans }}</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">{{ 'card.info.flavor' | trans }}</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'card.info.faction' | trans }}</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<div class="btn-group" data-toggle="buttons">
			{% for faction in factions %}
				<label class="btn btn-default active" title="{{ faction.name }}" data-toggle="tooltip" data-container="body">
					<input type="checkbox" name="f[]" checked value="{{ faction.code }}">
					<span class="icon icon-{{ faction.code }}"></span>
				</label>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.attributes' | trans }}</legend>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="e">{{ 'card.info.set' | trans }}</label>
			<div>
				<select class="form-control" name="e" id="e">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for pack in packs %}
					<option value="{{ pack.code }}">{{ pack.label }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="l">{{ 'card.info.loyal' | trans }}</label>
			<div>
				<select class="form-control" name="l" id="l">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="m">{{ 'challenges.military' | trans }}</label>
			<div>
				<select class="form-control" name="m" id="m">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="t">{{ 'card.info.type' | trans }}</label>
			<div>
				<select class="form-control" name="t" id="t">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for type in types %}
					<option value="{{ type.code }}">{{ type.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="g">{{ 'challenges.intrigue' | trans }}</label>
			<div>
				<select class="form-control" name="g" id="g">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label for="k">{{ 'card.info.traits' | trans }}</label>
			<div>
				<select class="form-control" name="k" id="k">
					<option value="">{{ 'search.any' | trans }}</option>
					{% for trait in traits %}
					<option value="{{ trait }}">{{ trait }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="u">{{ 'card.info.unique' | trans }}</label>
			<div>
				<select class="form-control" name="u" id="u">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
			<label for="p">{{ 'challenges.power' | trans }}</label>
			<div>
				<select class="form-control" name="p" id="p">
					<option value="">{{ 'search.any' | trans }}</option>
					<option value="1">{{ 'search.yes' | trans }}</option>
					<option value="0">{{ 'search.no' | trans }}</option>
				</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.numerics' | trans }}</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="o">{{ 'card.info.cost' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="o" name="o" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="n">{{ 'card.info.income' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="no" id="no" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="n" name="n" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="s">{{ 'card.info.strength' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="so" id="so" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="s" name="s" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="v">{{ 'card.info.initiative' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="vo" id="vo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="v" name="v" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="y">{{ 'card.info.quantity' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="y" name="y" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="b">{{ 'card.info.claim' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="bo" id="bo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="b" name="b" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="h">{{ 'card.info.reserve' | trans }}</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="ho" id="ho" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="h" name="h" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.other' | trans }}</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label>{{ 'search.previews' | trans }}</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default active"><input type="radio" name="r" checked value="">{{ 'search.yes' | trans }}</label>
				<label class="btn btn-default"><input type="radio" name="r" value="<now">{{ 'search.no' | trans }}</label>
				<label class="btn btn-default"><input type="radio" name="r" value=">now">{{ 'search.only' | trans }}</label>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="i">{{ 'card.info.illustrator' | trans }}</label>
			<div>
				<select class="form-control" name="i" id="i"><option value="">{{ 'search.any' | trans }}</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>{{ 'search.submit' | trans }}</legend>
<div class="row">
    <div class="form-group">
       {% include 'AppBundle:Search:searchoptions.html.twig' %}
       <div class="col-sm-4">
	      <button class="btn btn-primary" type="submit">{{ 'forms.search' | trans }}</button>
       </div>
    </div>
</div>
</fieldset>
</form>

{% include 'AppBundle:Default:google-adaptable-ad.html.twig' %}

</div>

</div>

</div>
{% endblock %}
