<div class="row">
<div class="col-sm-12">
<ul class="pager">
	<li class="previous">
		{% if prev is defined and prev.code is defined %}
		<a href="{{ prevhref }}" class="no-popup">
			<span class="fa fa-arrow-left"></span>
			&nbsp;
			{% if prev.isUnique %}<span class="icon-unique"></span>{% endif %}
			{{ prev.name }}
			{% if prev.subtitle %}- {{prev.subtitle}}{% endif %}
		</a>
		{% endif %}
	</li>
	<li>
		<a href="{{ sethref }}">
			<span class="icon-set-{{set.code}}"></span>
			{{ set.name }}
		</a>
	</li>
	<li class="next">
		{% if next is defined and next.code is defined %}
		<a href="{{ nexthref }}" class="no-popup">
			{% if next.isUnique %}<span class="icon-unique"></span>{% endif %}
			{{ next.name }}
			{% if next.subtitle %}- {{next.subtitle}}{% endif %}
			&nbsp;
			<span class="fa fa-arrow-right"></span>
		</a>
		{% endif %}
	</li>
</ul>
</div>
</div>