{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decklist_search.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
<script type="text/javascript">
$(function () {
	var type = {{ type|json_encode|raw }};
	$('time').each(function (index, element) {
		var datetime = moment($(element).attr('datetime'));
		var formatted;
		switch(type) {
		case 'popular':
		case 'recent':
		case 'hottopics':
			 formatted = datetime.fromNow();
			 break;
		case 'halloffame':
		case 'favorites':
		case 'mine':
		case 'search':
		default:
			formatted = datetime.format('ll');
			 break;
		}
		$(element).html(formatted);
		$(element).attr('title', datetime.format('LLLL'));
	});
});
</script>
{% endblock %}

{% block body %}

<div class="main white container">
<div class="row">
<div class="col-md-3">

<ul class="nav nav-pills nav-stacked" style="margin-bottom:2em">
{% set linkurl = path('decklists_list', {type:'popular'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.popular' | trans }}</a></li>
{% set linkurl = path('decklists_list', {type:'recent'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.recent' | trans }}</a></li>
{% set linkurl = path('decklists_list', {type:'hottopics'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.hottopics' | trans }}</a></li>
{% set linkurl = path('decklists_list', {type:'halloffame'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.hof' | trans }}</a></li>
{% set linkurl = path('decklists_list', {type:'favorites'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.myfavorites' | trans }}</a></li>
{% set linkurl = path('decklists_list', {type:'mine'}) %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}">{{ 'decklist.list.types.mydecklists' | trans }}</a></li>
{% set linkurl = path('decklists_searchform') %}<li class="{% if url == linkurl %}active{% endif %}"><a href="{{ linkurl }}"><span class="fa fa-search"></span> {{ 'forms.search' | trans }}</a></li>
</ul>

{% include 'AppBundle:Default:google-adaptable-ad.html.twig' %}

</div>

<div class="col-md-9">

{{ header|raw }}

{% include 'AppBundle:Default:pagination.html.twig' %}

<table class="table">
<thead></thead>
<tbody>

{% for decklist in decklists %}

<tr>
<td class="decklist-images hidden-xs">
	<div class="decklist-plot-images">
	{% for plot in decklist.getSlots().getPlotDeck() %}
		{% set card = cards_data.getCardInfo(plot.getCard()) %}
		<div class="decklist-plot border-light-{{card.faction_code}}">
			<div class="plot-thumbnail card-thumbnail-4x card-thumbnail-plot card card-tip" style="background-image:url('{{card.imagesrc}}')" data-code="{{card.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
            </div>
		</div>
	{% endfor %}
	</div>
	<div class="decklist-character-images">
	{% for character in decklist.getSlots().getCharacterRow() %}
		{% set card = cards_data.getCardInfo(character.getCard()) %}
		<div class="decklist-character border-light-{{card.faction_code}}">
			<div class="character-thumbnail card-thumbnail-4x card-thumbnail-character card card-tip" style="background-image:url('{{card.imagesrc}}')" data-code="{{card.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
				{% if card.is_unique %}
	            <div class="character-unique"><span class="icon-unique"></span></div>
	            {% endif %}
	            <div class="character-dice">
	                {% for i in 1..character.getDice() %}
	                <span class="icon-die"></span>
	            	{% endfor %}
	            </div>
            </div>
		</div>
	{% endfor %}
	</div>
</td>
<td>
    <article>
    <div>
    	<span class="decklist-format">{{ decklist.format.name }}</span>
    </div>
	<h4>
		<small class="pull-right">
			{{ macros.decklist_social_icons(decklist) }}
		</small>		
		<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.nameCanonical|e('url') }) }}">{{ decklist.name }}</a>
	</h4>
	<h5>
		<time class="pull-right" datetime="{{ decklist.dateCreation|date('c') }}">{{ decklist.dateCreation|date('M d') }}</time>
		<span class="username">
    		<a href="{{ path('user_profile_public', {user_id:decklist.user.id,user_name:decklist.user.username|e('url')}) }}" class="{{ decklist.user.color }}">{{ decklist.user.username }}</a>
    		{% if decklist.user.donation > 0 %}<span class="fa fa-gift donator" title="SWDestinyDB Gracious Donator"></span>{% endif %}
    		<small class="reputation">{{ decklist.user.reputation }}</small>
		</span>
	</h5>
	</article>
</td>
</tr>
{% endfor %}

</tbody>
</table>

{% include 'AppBundle:Default:pagination.html.twig' %}

</div>

</div>
</div>

{% endblock %}
