{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="main white container">

<div class="jumbotron background-{{ user.color }}-10">
  <h1><span class="{{ user.color }}">{{ user.username }}</span>
  {% if user.donation > 0 %}<span class="fa fa-gift donator" title="ThronesDB Gracious Donator"></span>{% endif %}
    <small>{{ user.reputation }}</small></h1>
	<p>
        {{'profile.public.since' | trans({'%date%': user.dateCreation|localizeddate('long', 'none') })}}.
        <div>
        {% if user.decklists|length > 0 %}
            <a href="{{ path('decklists_list',{type:'find',page:1,author:user.username}) }}">
                {{'profile.public.published_decklists' | transchoice(user.decklists|length, {'%count%': user.decklists|length})}}.
            </a>
        {% else %}
            {{'profile.public.published_decklists' | transchoice(user.decklists|length, {'%count%': user.decklists|length})}}.
        {% endif %}
        </div>
        <div>
        {% if user.reviews|length > 0 %}
            <a href="{{ path('card_reviews_list_byauthor',{page:1,user_id:user.id}) }}">
                {{'profile.public.published_reviews' | transchoice(user.reviews|length, {'%count%': user.reviews|length})}}.
            </a>
        {% else %}
            {{'profile.public.published_reviews' | transchoice(user.reviews|length, {'%count%': user.reviews|length})}}.
        {% endif %}
        </div>
	</p>
    {% if user.resume %}
        <p><em>{{ user.resume }}</em></p>
    {% endif %}
</div>

</div> <!-- .container -->

{% endblock %}
