{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.decks.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}

<div class="main white container">

<div class="row">

<!-- Right-side column -->
<div class="col-md-4 col-md-push-8">

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<a href="{{ path('deck_buildform') }}" class="btn btn-default btn-sm"{% if cannotcreate %} disabled="disabled"{% endif %}><span class="fa fa-plus"></span> {{ 'decks.form.new' | trans}}</a>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown"{% if cannotcreate %} disabled="disabled"{% endif %}>
			<span class="fa fa-upload"></span> {{ 'decks.form.import.label' | trans}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ path('deck_import') }}" id="btn-import-paste">{{ 'decks.form.import.copypaste' | trans}}</a></li>
			<li><a href="#" onclick="$('#fileModal').modal('show')" id="btn-import-file">{{ 'decks.form.import.file' | trans}}</a></li>
		</ul>
	</div>
</div>
</div>

<div class="row" style="margin-bottom:10px">
<div class="col-md-12">
	<div class="btn-group" id="btn-group-selection">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
			<span class="fa fa-check-square-o"></span> {{ 'decks.form.selection.label' | trans}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li class="dropdown-header"><span class="fa fa-exchange"></span> {{ 'decks.form.selection.compare.label' | trans}}</li>
		    <li><a href="#" id="btn-compare">{{ 'decks.form.selection.compare.twodecks' | trans}}</a></li>
		    <li class="dropdown-header"><span class="fa fa-tag"></span> {{ 'decks.form.selection.tags.label' | trans}}</li>
		    <li><a href="#" id="btn-tag-add">{{ 'decks.form.selection.tags.add' | trans}}</a></li>
			<li><a href="#" id="btn-tag-remove-one">{{ 'decks.form.selection.tags.remove' | trans}}</a></li>
			<li><a href="#" id="btn-tag-remove-all">{{ 'decks.form.selection.tags.clear' | trans}}</a></li>
			<li class="dropdown-header"><span class="fa fa-trash-o"></span> {{ 'decks.form.selection.delete.label' | trans}}</li>
			<li><a href="#" id="btn-delete-selected"><span style="color:red" class="fa fa-exclamation-triangle"></span> {{ 'decks.form.selection.delete.selected' | trans}}</a></li>
		</ul>
	</div>
</div>
</div>
<div class="row" style="margin-bottom:10px">
<div class="col-md-12" id="tag_toggles" title="{{ 'decks.form.labelswitch' | trans }}"></div>
</div>

</div>
<!-- / Right-side column -->

<!-- Left-side column -->
<div class="col-md-8 col-md-pull-4">

<h1>
	{{ 'decks.privatedecks' | trans}}
	<small style="font-size:16px" class="hidden-xs {% if cannotcreate %}text-danger{% endif %}">
		{{ 'decks.slotcount' | trans({'%max%': nbmax, '%current%': nbdecks}) }}
	</small>
</h1>

<table class="table table-expanded list-decks">
<tbody id="decks">
{% for deck in decks %}
	<tr data-id="{{ deck.id }}">
		<td><input type="checkbox"></td>
		<td class="decklist-images hidden-xs">
			<div class="decklist-plot-images">
				{% for plot in deck.plots %}
				<div class="decklist-plot border-light-{{plot.faction_code}}">
					<div class="plot-thumbnail card-thumbnail-4x card-thumbnail-plot card card-tip" style="background-image:url('{{plot.imagesrc}}')" data-code="{{plot.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
						
	                </div>
				</div>
				{% endfor %}
			</div>
			<div class="decklist-character-images">
				{% for character in deck.characters %}
				<div class="decklist-character border-light-{{character.faction_code}}">
					<div class="character-thumbnail card-thumbnail-4x card-thumbnail-character card card-tip" style="background-image:url('{{character.imagesrc}}')" data-code="{{character.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
						{% if character.is_unique %}
	                    <div class="character-unique"><span class="icon-unique"></span></div>
	                    {% endif %}
	                    <div class="character-dice">
	                        {% for i in 1..character.dice %}
	                        <span class="icon-die"></span>
	                    	{% endfor %}
	                    </div>
	                </div>
				</div>
				{% endfor %}
			</div>
		</td>
		<td>
			<div><span class="deck-format">{{ deck.format_name }}</span></div>
			<a href="{{ path('deck_view',{deck_id:deck.id}) }}" class="deck-name">{{ deck.name }}</a>
			<span class="deck-version">{{ deck.version }}</span>
			{% if deck.problem is not null %}
			<div class="text-danger small"><span class="fa fa-exclamation-triangle"></span> {{('decks.problems.'~deck.problem) | trans}}</div>
			{% endif %}
			<div class="tags">
			{% for tag in deck.tags|split(' ') %}
			<span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
			{% endfor %}
			</div>
		</td>
		<td class="decks-actions text-right text-nowrap">
			<a href="{{ path('deck_edit',{deck_id:deck.id}) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="{{ 'forms.edit' | trans}}"><span class="fa fa-pencil fa-fw"></span></a>
			<a href="{{ path('deck_publish_form',{deck_id:deck.id}) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="{{ 'forms.publish' | trans}}"><span class="fa fa-share fa-fw"></span></a>
			<button class="btn btn-xs btn-default btn-delete-deck" data-toggle="tooltip" title="{{ 'forms.delete' | trans}}"><span class="fa fa-trash-o fa-fw"></span></button>
			<a href="{{ path('deck_clone', {deck_id:deck.id}) }}" class="btn btn-xs btn-default" data-toggle="tooltip" title="{{ 'forms.clone' | trans}}"><span class="fa fa-clone fa-fw"></span></a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

<div id="deck"></div>

</div>
<!-- / Left-side column -->

</div>
</div><!-- /.container -->

{% include 'AppBundle:Modale:file.html.twig' %}
{% include 'AppBundle:Modale:delete.html.twig' %}
{% include 'AppBundle:Modale:delete_list.html.twig' %}
{% include 'AppBundle:Modale:export.html.twig' %}
{% include 'AppBundle:Modale:odds.html.twig' %}
{% include 'AppBundle:Modale:tag_add.html.twig' %}
{% include 'AppBundle:Modale:tag_remove.html.twig' %}
{% include 'AppBundle:Modale:tag_clear.html.twig' %}
{% include 'AppBundle:Modale:diff.html.twig' %}
{% include 'AppBundle:Modale:archive.html.twig' %}

{% endblock %}
