{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main white container">

<form action="{{ path('deck_initbuild') }}" method="post" enctype="application/x-www-form-urlencoded">
<div class="row">
	<div class="col-md-6">
		<h1>{{ 'decks.build.choose.affiliation' | trans }}</h1>
		<div class="row">
			{% for affiliation in affiliations %}
			<div class="col-md-3 col-sm-4">
				<label class="thumbnail">
					<img src="{{ asset('/bundles/app/images/affiliations/' ~ affiliation.code ~ '.png') }}" class="hidden-xs">
					<div class="caption text-center" style="white-space:nowrap">
							<input type="radio" name="affiliation" value="{{ affiliation.code }}"> <small>{{ affiliation.name }}</small>
					</div>
				</label>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-md-6">
		<h1>{{ 'decks.build.choose.format' | trans }}</h1>
		<p><small>{{ 'decks.build.canbechanged' | trans }}</small>
		{% for format in formats %}
		<div class="row">
			<div class="col-sm-3">
				<label>
					<input type="radio" name="format" value="{{ format.code }}">
					{{format.name}}
				</label>
			</div>
			<div class="col-sm-9 hidden-xs">
				{% for set_code in format.data.sets %}
					{% if not loop.first %}·{% endif %}
					<span class="icon-set-{{set_code}}" title="{{sets[set_code]}}" data-toggle="tooltip"></span>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="submit" class="btn btn-primary btn-block">{{ 'decks.build.start' | trans }}</button>
	</div>
</div>
</form>

</div>

{% endblock %}
