
<div class="row" style="margin-bottom:10px">
	<div class="col-md-12 text-right">
        <button class="btn btn-default btn-xs" type="button" id="filter-text-button">{{'decks.edit.build.help' | trans}}</button>
        <div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				{{ 'decks.edit.build.sets.label' | trans}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" data-filter="set_code" title="{{ 'decks.edit.build.sets.hint' | trans }}"></ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				{{ 'decks.edit.build.options.label' | trans}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" id="config-options">
			    <li><a href="#"><label><input type="checkbox" name="show-unusable"> {{ 'decks.edit.build.options.show.unusable' | trans }}</label></a></li>
				<li><a href="#"><label><input type="checkbox" name="show-only-deck"> {{ 'decks.edit.build.options.show.onlyused' | trans }}</label></a></li>
				<li><a href="#"><label><input type="checkbox" name="show-only-owned"> {{ 'decks.edit.build.options.show.onlyowned' | trans }}</label></a></li>
				<li><a href="#"><label><input type="radio" name="buttons-behavior" value="cumulative"> {{ 'decks.edit.build.options.filter_button.cumulative' | trans }}</label></a></li>
				<li><a href="#"><label><input type="radio" name="buttons-behavior" value="exclusive"> {{ 'decks.edit.build.options.filter_button.exclusive' | trans }}</label></a></li>
			</ul>
		</div><!-- /.btn-group -->
	</div><!-- /.col-sm-6 -->
</div><!-- /.row -->

<div class="row">
	<!-- Search Bar -->
	<div class="col-sm-12" style="margin-bottom:10px">
		<input type="text" class="form-control" id="filter-text" placeholder="{{ 'decks.edit.build.searchhint' | trans }}" tabindex="1">
	</div>
	<!-- Search Bar -->
	<div class="col-sm-6" style="margin-bottom:10px">
      <div class="btn-group btn-group-justified" data-filter="affiliation_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-6" style="margin-bottom:10px">
      <div class="btn-group btn-group-justified" data-filter="faction_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-6" style="margin-bottom:10px">
      <div class="btn-group btn-group-justified" data-filter="rarity_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-6" style="margin-bottom:10px">
		<div class="btn-group btn-group-justified" data-filter="type_code" data-toggle="buttons"></div>
    </div>
</div>

<!-- Collection Table -->
<div class="row" id="collection">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover" style="margin-bottom:10px">
			<thead>
				<tr>
					<th style="min-width:85px">
						<a href="#" data-sort="indeck">
							{{ 'card.info.quantity' | trans}}
						</a>
					</th>
					<th>&nbsp;</th>
					<th>
						<a href="#" data-sort="name">
							{{ 'card.info.name' | trans}}
						</a>
					</th>
					<th>
						<a href="#" data-sort="has_die" title="{{ 'card.info.has_die' | trans }}">
							<span class="icon-die"></span>
						</a>
					</th>
					<th class="cost">
						<a href="#" data-sort="cp" title="{{ 'card.info.points_cost' | trans}}">
							{{ 'card.info.short.points_cost' | trans}}
						</a>
					</th>
					<th class="health">
						<a href="#" data-sort="health" title="{{ 'card.info.health' | trans}}">
							{{ 'card.info.short.health' | trans}}
						</a>
					</th>
					<th class="type">
						<a href="#" data-sort="type_code" title="{{ 'card.info.type' | trans}}">
							{{ 'card.info.short.type' | trans}}
						</a>
					</th>
					<th class="faction">
						<a href="#" data-sort="faction_code" title="{{ 'card.info.faction' | trans}}">
							{{ 'card.info.short.faction' | trans}}
						</a>
					</th>
				</tr>
			</thead>
			<tbody id="collection-table" class="collection"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
	<div id="collection-grid" class="col-sm-12"></div>
</div><!-- /.row -->
<!-- Collection Table -->
