{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
<h1 class="site-title hidden-xs">SWDestinyDB</h1>
<div class="site-slogan">{{ 'slogan' | trans }}</div>
</div> <!-- .container -->

<div class="main container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a href="#twitter-feed" data-toggle="collapse">
              <span class="fa fa-twitter"></span>
              News from @swdestinydb
              <span class="fa fa-caret-down"></span>
            </a>
          </h5>
        </div>
        <div class="panel-collapse collapse" id="twitter-feed">
          <div class="panel-body">
            <a class="twitter-timeline" href="https://twitter.com/swdestinydb"
              data-chrome="noborders noheader nofooter"
              data-height="200">
              News from @swdestinydb
            </a>

            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="main container">
    <div class="row">
    {% for byFaction in decklists_by_faction %}
      {% for data in byFaction %}
      <div class="col-md-6 index-decklist" style="margin-bottom:30px;">
          <div class="bg-faction bg-{{ data.predominantFaction.code }}" style="padding:10px 10px 5px 10px; border: 1px solid black;">
              <div class="media">
                <div class="media-left">
                    <img src="{{ asset('/bundles/app/images/affiliations/' ~ data.affiliation.code ~ '.png') }}" height="30" width="30"/>
                </div>
                <div class="media-body" style="padding-bottom: 2px;">
                    <h4 class="media-heading" style="white-space:nowrap"><a href="{{ path('decklist_detail',{decklist_id:data.decklist.id,decklist_name:data.decklist.nameCanonical}) }}">{{ data.decklist.name }}</a></h4>
                    <div class="small">
                      <span class="deck-format">{{ data.decklist.format.name }}</span>
                      {% set username %}
                        <span class="username">{{ macros.username_colorless(data.decklist.user) }}</span>
                      {% endset %}
                      {{ 'userby' | trans({'%user%': username}) | raw }}
                      &middot;
                      <time datetime="{{ data.decklist.dateCreation|date('c') }}">{{ data.decklist.dateCreation|date('M d, Y') }}</time>
                    </div>
                </div>
              </div>
          </div>
          <div style="background-color: white; padding: 10px 20px 20px 20px; border: 1px solid black; border-top: 0;">
              <div class="small pull-right">
                  {{ macros.decklist_social_icons(data.decklist ) }}
              </div>
              <div>
                {% for faction in data.factions %}
                  <span class="fg-{{faction}}">{{ factionNames[faction] }}</span>
                  {% if not loop.last %} / {% endif %}
                {% endfor %}
              </div>
              <div class="text-center character-card-list plot-card-list">
                {% for plot in data.plot_deck %}
                  {% set card = cards_data.getCardInfo(plot.getCard()) %}
                  <div class="index-plot">
                    <div class="plot-thumbnail card-thumbnail-2x card-thumbnail-plot" style="background-image:url('{{card.imagesrc}}')">
                      <div class="plot-icon">
                        <span class="icon-plot"></span>
                      </div>
                    </div>
                    <a href="{{ path('cards_zoom', {card_code: card.code}) }}" class="fg-{{card.faction_code}} card card-tip" data-code="{{card.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
                      <strong>{{card.name}}</strong>
                    </a>
                  </div>
                {% endfor %}
                {% for character in data.character_deck %}
                  {% set card = cards_data.getCardInfo(character.getCard()) %}
                  <div class="index-character">
                    <div class="character-thumbnail card-thumbnail-2x card-thumbnail-character" style="background-image:url('{{card.imagesrc}}')">
                      {% if card.is_unique %}
                      <div class="character-unique"><span class="icon-unique"></span></div>
                      {% endif %}
                      <div class="character-dice">
                      {% for i in 1..character.getDice() %}
                      <span class="icon-die"></span>
                      {% endfor %}
                      </div>
                    </div>
                    <a href="{{ path('cards_zoom', {card_code: card.code}) }}" class="fg-{{card.faction_code}} card card-tip" data-code="{{card.code}}" data-toggle="modal" data-target="#cardModal" data-remote="false">
                      <strong>{{card.name}}</strong>
                      {% if card.subtitle %}
                        <br/> <small>{{card.subtitle}}</small>
                      {% endif %}
                    </a>
                  </div>
                {% endfor %}
              </div>
              <table class="table small" style="width:50%; margin: 0 auto;">
                <thead>
                  <tr>
                    {% for type in data.count_by_type|keys %}
                    <th class="text-center">{{typeNames[type]}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for count in data.count_by_type %}
                    <td class="text-center">
                      {{count.cards}} <span class="icon-cards"></span>
                      {% if count.dice %} {{count.dice}} <span class="icon-die"></span> {% endif %}
                    </td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              <div class="text-center small"><a href="{{ path('decklists_list',{type:'find',affiliation:data.affiliation.code}) }}">{{ 'seemore.affiliation' | trans }}</a></div>
              <div style="clear:both"></div>
          </div>
      </div>
      {% endfor %}
    {% endfor %}
    </div>
    <div class="row">
    	<div class="col-md-12">
    		{% include "AppBundle:Default:google-adaptable-ad.html.twig" %}
    	</div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://swdestinydb.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://swdestinydb.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
