{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.collection.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.collection && app.collection.init({{ collection|json_encode|raw }});
	app.ui && app.ui.set_starters_data && app.ui.set_starters_data({{ starters|json_encode|raw }});
	</script>
{% endblock %}

{% block body %}
<form id="form" action="{{ path('collection_save') }}" method="POST">
	<input type="hidden" name="changes" id="changes"/>
</form>

<div class="main white container">

<div class="row" style="margin-bottom: 10px;">
	<div class="col-sm-4">
		<button id="btn-save" class="btn btn-sm btn-success">{{ 'forms.save' | trans }}</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				{{ 'collection.sets.label' | trans}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" data-filter="set_code" title="{{ 'collection.sets.hint' | trans }}"></ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				{{ 'collection.options.label' | trans}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" id="config-options">
				<li><a href="#"><label><input type="radio" name="buttons-behavior" value="cumulative">{{ 'collection.options.filter_button.cumulative' | trans }}</label></a></li>
				<li><a href="#"><label><input type="radio" name="buttons-behavior" value="exclusive">{{ 'collection.options.filter_button.exclusive' | trans }}</label></a></li>
				<li><a href="#"><label><input type="checkbox" name="link-cards-dice">{{ 'collection.options.link_cards_dice' | trans }}</label></a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-plus"></span> {{ 'collection.addstarter.label' | trans}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" id="add-starter">
				{% set packset = "" %}
				{% for starter in starters %}
				{% if starter.set.code != packset %}
				<li class="dropdown-header">{{starter.set.name}}</li>
				{% endif %}
				<li>
					<a href="#" data-starter="{{starter.code}}">
						{{starter.name}}
					</a>
				</li>
				{% set packset = starter.set.code %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="rarity_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<input type="text" class="form-control input-sm" id="filter-text" placeholder="{{ 'collection.searchhint' | trans }}" tabindex="1">
			<div class="input-group-btn">
				<button class="btn btn-default btn-sm" id="filter-text-button" title="{{'collection.help' | trans}}" data-toggle="tooltip">
					<span class="fa fa-question"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom: 10px;">
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="affiliation_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="faction_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="type_code" data-toggle="buttons"></div>
	</div>
</div>

<!-- Collection Table -->
<div class="row" id="collection">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover" style="margin-bottom:10px">
			<thead>
				<tr>
					<th>{{ 'card.info.name' | trans }}</th>
					<th colspan="2">{{ 'collection.owned' | trans}}</th>
					<th class="hidden-sm hidden-xs">{{ 'card.info.affiliation' | trans }}</th>
					<th class="hidden-sm hidden-xs" title="{{'card.info.points_cost' | trans}}">{{ 'card.info.medium.points_cost' | trans }}</th>
					<th class="hidden-sm hidden-xs">{{ 'card.info.health' | trans }}</th>
					<th class="hidden-sm hidden-xs">{{ 'card.info.type' | trans }}</th>
					<th class="hidden-xs">{{ 'card.info.rarity' | trans }}</th>
					<th colspan="6" class="visible-lg">{{ 'card.info.die' | trans}}</th>
					<th>{{ 'card.info.set' | trans }}</th>
				</tr>
			</thead>
			<tbody id="collection-table" class="collection"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
	<div id="collection-grid" class="col-sm-12"></div>
</div><!-- /.row -->

</div>
{% endblock %}