{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.collection.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.ui && app.ui.set_starters_data && app.ui.set_starters_data({{ starters|json_encode|raw }});
	</script>
{% endblock %}

{% block body %}
<form id="form" action="{{ path('collection_save') }}" method="POST">
	<input type="hidden" name="changes" id="changes"/>
</form>

<div class="main white container">

<div class="row hidden-print" style="margin-bottom: 10px;">
	<div class="col-sm-4">
		<div class="btn-group">
			<button id="btn-save" class="btn btn-sm btn-success">{{ 'forms.save' | trans }}</button>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					{{ 'collection.sets.label' | trans}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-left" data-filter="set_code" title="{{ 'collection.sets.hint' | trans }}"></ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					{{ 'collection.options.label' | trans}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-left" id="config-options">
					<li>
						<a href="#">
							<label>
								<input type="checkbox" name="only-show-owned">{{ 'collection.options.only_show_owned' | trans }}
							</label>
						</a>
					</li>
					<li>
						<a href="#">
							<label>
								<input type="radio" name="buttons-behavior" value="cumulative">{{ 'collection.options.filter_button.cumulative' | trans }}
							</label>
						</a>
					</li>
					<li>
						<a href="#">
							<label>
								<input type="radio" name="buttons-behavior" value="exclusive">{{ 'collection.options.filter_button.exclusive' | trans }}
							</label>
						</a>
					</li>
					<li>
						<a href="#">
							<label>
								<input type="checkbox" name="link-cards-dice">{{ 'collection.options.link_cards_dice' | trans }}
							</label>
						</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
					<span class="fa fa-plus"></span> {{ 'collection.addstarter.label' | trans}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-left" id="add-starter">
					{% set packset = "" %}
					{% for starter in starters %}
					{% if starter.set.code != packset %}
					<li class="dropdown-header">{{starter.set.name}}</li>
					{% endif %}
					<li>
						<a href="#" data-starter="{{starter.code}}">
							{{starter.name}}
						</a>
					</li>
					{% set packset = starter.set.code %}
					{% endfor %}
				</ul>
			</div>
			<a href="{{path('collection_export')}}" class="btn btn-default btn-sm" title="{{ 'collection.export.tooltip' | trans }}" data-toggle="tooltip">
				<span class="fa fa-file-excel-o"></span>
			</a> 
		</div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="rarity_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
		<div class="input-group">
			<input type="text" class="form-control input-sm" id="filter-text" placeholder="{{ 'collection.searchhint' | trans }}" tabindex="1">
			<div class="input-group-btn">
				<button class="btn btn-default btn-sm" id="filter-text-button" title="{{'collection.help' | trans}}" data-toggle="tooltip">
					<span class="fa fa-question"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row hidden-print" style="margin-bottom: 10px;">
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="affiliation_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="faction_code" data-toggle="buttons"></div>
	</div>
	<div class="col-sm-4">
    	<div class="btn-group btn-group-justified" data-filter="type_code" data-toggle="buttons"></div>
	</div>
</div>

<!-- Collection Table -->
<div class="row" id="collection">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover" style="margin-bottom:10px">
			<thead>
				<tr>
					<th>
						<a href="#" data-sort="name">{{ 'card.info.name' | trans }}</a>
					</th>
					<th colspan="2">
						<a href="#" data-sort="owned.cards">{{ 'collection.owned' | trans}}</a>
					</th>
					<th class="hidden-sm hidden-xs">
						<a href="#" data-sort="affiliation_code">{{ 'card.info.affiliation' | trans }}</a>
					</th>
					<th class="hidden-sm hidden-xs" title="{{'card.info.points_cost' | trans}}">
						<a href="#" data-sort="cp">{{ 'card.info.medium.points_cost' | trans }}</a>
					</th>
					<th class="hidden-sm hidden-xs">
						<a href="#" data-sort="health">{{ 'card.info.health' | trans }}</a>
					</th>
					<th class="hidden-sm hidden-xs">
						<a href="#" data-sort="type_code">{{ 'card.info.type' | trans }}</a>
					</th>
					<th class="hidden-xs">
						<a href="#" data-sort="rarity_code">{{ 'card.info.rarity' | trans }}</a>
					</th>
					<th colspan="6" class="visible-lg text-nowrap">
						<a href="#">{{ 'card.info.die' | trans}}</a>
					</th>
					<th>
						<a href="#" data-sort="code" class="text-nowrap">{{ 'card.info.set' | trans }}</a>
					</th>
				</tr>
			</thead>
			<tbody id="collection-table" class="collection"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
	<div id="collection-grid" class="col-sm-12"></div>
</div><!-- /.row -->
<div class="row">
	<div class="col-xs-12 text-right">
		<small class="text-muted" id="showing-cards"></small>
	</div>
</div>

</div>

{% endblock %}
