<div class="card-faction">
	<span class="card-affiliation">{{card.affiliation_name}}</span>.
	<span class="card-faction">{{card.faction_name}}</span>.
	<span class="card-rarity">{{card.rarity_name}}</span>.
</div>
<div class="card-info">
	<span class="card-type">{{ card.type_name }}{{#if card.subtype_code }} - {{card.subtype_name}}{{/if}}.</span>
	<span class="card-props">
		{{#in card.type_code "character" "plot"}}
			{{trans "card.info.points"}}: {{card.points}}.
		{{/in}}
		{{#in card.type_code "upgrade" "downgrade" "support" "event"}}
			{{trans "card.info.cost"}}: {{int_or_x card.cost}}.
		{{/in}}
		{{#compare card.type_code "character"}}
			{{trans "card.info.health"}}: {{int_or_x card.health}}.
		{{/compare}}
	</span>
</div>
{{#if card.has_die}}
<div class="card-die">
  {{#each card.sides}}
  {{#with (dieside this)}}
  <div class="card-die-face border-{{@root.card.faction_code}} card-die-face-{{icon}}{{#unless cost}} card-die-face-nocost{{/unless}}{{#if modifier}} ard-die-face-modifier{{/if}}">
    <div class="card-die-face-content">
      <span class="card-die-face-value">{{#if modifier}}+{{/if}}{{nonzero_or_x value}}</span><span class="icon-{{icon}}"></span>
    </div>
    {{#if cost}}
    <div class="card-die-face-cost">
      {{cost}}<span class="icon-resource"></span>
    </div>
    {{/if}}
  </div>
  {{/with}}
  {{/each}}
</div>
{{/if}}
<div class="card-text border-{{card.faction_code}}">{{text card.text}}</div>
<div class="card-set">{{card.set_name}} #{{card.position}}.</div>