<tr{{#unless snapshot.is_saved}} class="warning"{{/unless}}>
	<td>
		{{date}}
		{{#unless snapshot.is_saved}}({{trans "decks.history.unsaved"}}){{/unless}}
	</td>
	<td>
		{{snapshot.version}}
	</td>
	<td>
		<ul class="list-unstyled">
		{{#with snapshot.variation}}
			{{#*inline "change"}}
				<li>
					{{#if quantity}}{{op}}{{quantity}}<span class="icon-cards"></span>{{/if}}
					{{#if dice}}{{op}}{{dice}}<span class="icon-die"></span>{{/if}}
					{{#with (card code)}}
					<a href="{{routing "cards_zoom" card_code=code}}" class="card-tip" data-code="{{code}}">{{name}}</a>
					{{/with}}
				</li>
			{{/inline}}
			{{#each this.[0]}}
				{{> change this op="+" code=@key}}
			{{/each}}
			{{#each this.[1]}}
				{{> change this op="-" code=@key}}
			{{/each}}
		{{else}}
			<li>{{trans "decks.history.firstversion"}}</li>
		{{/with}}
		</ul>
	</td>
	<td>
		<a role="button" href="#" data-index="{{revertTo}}">
			{{trans "decks.history.revert"}}
		</a>
	</td>
</tr>