{{#if card.imagesrc}}
<div class="card-thumbnail card-thumbnail-{{ternary (compare card.type_code "battlefield") 4 3}}x card-thumbnail-{{card.type_code}}" style="background-image:url('{{card.imagesrc}}')"> 
</div>
{{/if}}
<h4 class="card-name">
	{{#if card.is_unique}}<span class="icon-unique"></span>{{/if}}
	{{card.name}}
	{{#if card.subtitle}}
	<br/><span class="card-subtitle">{{card.subtitle}}</span>
	{{/if}}
</h4>
<div class="card-faction">
	<span class="card-affiliation">{{card.affiliation_name}}</span>.
	{{#compare card.type_code "battlefield"}}{{else}}<span class="card-faction">{{card.faction_name}}</span>.{{/compare}}
	<span class="card-rarity">{{card.rarity_name}}</span>.
</div>
<div class="card-info">
	<span class="card-type">{{ card.type_name }}{{#each card.subtypes}} - {{name}}{{/each}}.</span>
	<span class="card-props">
		{{#in card.type_code "character" "plot"}}
			{{trans "card.info.points"}}: {{card.points}}.
		{{/in}}
		{{#in card.type_code "upgrade" "downgrade" "support" "event"}}
			{{trans "card.info.cost"}}: {{int_or_x card.cost}}.
		{{/in}}
		{{#compare card.type_code "character"}}
			{{trans "card.info.health"}}: {{int_or_x card.health}}.
		{{/compare}}
	</span>
</div>
{{#if card.has_die}}
<div class="card-die">
  {{#each card.sides}}
  {{#with (dieside this)}}
  <div class="card-die-face border-{{@root.card.faction_code}}{{#if icon}} card-die-face-{{icon}}{{/if}}{{#unless cost}} card-die-face-nocost{{/unless}}{{#if modifier}} card-die-face-modifier{{/if}}">
    <div class="card-die-face-content">
      <span class="card-die-face-value">{{#if modifier}}+{{/if}}{{int_or_x value}}</span>{{#if icon }}<span class="icon-{{icon}}">{{/if}}</span>
    </div>
    {{#if cost}}
    <div class="card-die-face-cost">
      {{cost}}<span class="icon-resource"></span>
    </div>
    {{/if}}
  </div>
  {{/with}}
  {{/each}}
</div>
{{/if}}
{{#if card.has_errata}}
	<div class="text-muted"><small>{{trans 'card.with_errata'}}</small></div>
{{/if}}
{{#if card.balance}}
	{{#with (format card.balance)}}
	<div class="text-muted"><small>{{trans 'card.balance' format=name}}</small></div>
	{{/with}}
{{/if}}
<div class="card-text border-{{card.faction_code}}">{{text card.text}}</div>
<div class="card-set"><span class="icon-set-{{card.set_code}}"></span> {{card.set_name}} #{{card.position}}.</div>
{{#if card.reprint_of}}
	{{#with (card card.reprint_of)}}
		<div class="card-reprint-of">{{trans 'card.info.reprintOf' card=(concat (set_icon set_code) ' ' set_name " #" position)}}.</div>
	{{/with}}
{{/if}}
{{#if card.reprints}}
	<div class="card-reprints">
		{{trans "card.info.reprinted"}}:
		<ul class="card-reprints-list">
			{{#each card.reprints}}
			{{#with (card this)}}
			<li><span class="icon-set-{{set_code}}"></span> {{set_name}} #{{position}}</li>
			{{/with}}
			{{/each}}
		</ul>
	</div>
{{/if}}