{{#if card.imagesrc}}
<div class="card-thumbnail card-thumbnail-{{ternary (compare card.type_code "battlefield") 4 3}}x card-thumbnail-{{card.type_code}}" style="background-image:url('{{card.imagesrc}}')"> 
</div>
{{/if}}
<h4 class="card-name">
	{{#if card.is_unique}}<span class="icon-unique"></span>{{/if}}
	{{card.name}}
	{{#if card.subtitle}}
	<br/><span class="card-subtitle">{{card.subtitle}}</span>
	{{/if}}
</h4>
<div class="card-faction">
	<span class="card-affiliation">{{card.affiliation_name}}</span>.
	{{#compare card.type_code "battlefield"}}{{else}}<span class="card-faction">{{card.faction_name}}</span>.{{/compare}}
	<span class="card-rarity">{{card.rarity_name}}</span>.
</div>
<div class="card-info">
	<span class="card-type">{{ card.type_name }}{{#if card.subtype_code }} - {{card.subtype_name}}{{/if}}.</span>
	<span class="card-props">
		{{#compare card.type_code "character"}}
			{{trans "card.info.points"}}: {{card.points}}.
		{{/compare}}
		{{#in card.type_code "upgrade" "support" "event"}}
			{{trans "card.info.cost"}}: {{int_or_x card.cost}}.
		{{/in}}
		{{#compare card.type_code "character"}}
			{{trans "card.info.health"}}: {{int_or_x card.health}}.
		{{/compare}}
	</span>
</div>
{{#if card.has_die}}
<div class="card-die">
  {{#each card.sides}}
  {{#with (dieside this)}}
  <div class="card-die-face border-{{@root.card.faction_code}}{{#if icon}} card-die-face-{{icon}}{{/if}}{{#unless cost}} card-die-face-nocost{{/unless}}{{#if modifier}} card-die-face-modifier{{/if}}">
    <div class="card-die-face-content">
      <span class="card-die-face-value">{{#if modifier}}+{{/if}}{{nonzero_or_x value}}</span>{{#if icon }}<span class="icon-{{icon}}">{{/if}}</span>
    </div>
    {{#if cost}}
    <div class="card-die-face-cost">
      {{cost}}<span class="icon-resource"></span>
    </div>
    {{/if}}
  </div>
  {{/with}}
  {{/each}}
</div>
{{/if}}
<div class="card-text border-{{card.faction_code}}">{{text card.text}}</div>
<div class="card-set"><span class="icon-set-{{card.set_code}}"></span> {{card.set_name}} #{{card.position}}.</div>