{{#each codes}}
<label class="btn btn-default btn-sm fg-{{code}}" data-code="{{code}}" title="{{example.faction_name}}">
	<input type="checkbox" name="{{code}}">
	<strong>{{example.faction_name}}</strong>
</label>
{{/each}}