{{#each codes}}
<label class="btn btn-default btn-sm fg-rarity-{{code}}" data-code="{{code}}" title="{{example.rarity_name}}">
	<input type="checkbox" name="{{code}}">
	<span class="bg-rarity-{{code}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</label>
{{/each}}