<tr data-code="{{card.code}}"> 
    <td>
        {{{qty_options}}}
    </td>
    <td>
        {{#if (restricted card.code)}}
        <span class="fa fa-exclamation text-danger" title="{{trans 'card.info.restricted'}}" data-toggle="tooltip"></span>
        {{/if}}
		{{#if (errata card.code)}}
        <span class="fa fa-exclamation text-danger" title="{{trans 'card.format.errata'}}" data-toggle="tooltip"></span>
        {{/if}}
    </td>
    <td> 
        <a class="card card-tip" data-code="{{ card.code }}" href="{{ url }}" data-target="#cardModal" data-remote="false" data-toggle="modal">
            {{ card.name }}
        </a> 
    </td> 
    <td> 
        {{#if card.has_die}}<span class="icon-die"></span>{{/if}} 
    </td> 
    <td>
      {{ternary (in card.type_code "character" "plot") card.points card.cost}}
    </td>
    <td>
        {{#if card.health}}{{card.health}}{{/if}}
    </td>
    <td>
        <span class="icon-{{card.type_code}}"></span>
    </td>
    <td>
        <span class="fg-{{card.faction_code}}"><span class="fa fa-square"></span></span>
    </td>
</tr> 
